@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
 *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
 }
 html{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
}
.active{
  @apply border-b-4 border-primary  text-primary 
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

.shadow{
  box-shadow: 0px 0px 2px black;
}


